<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Shopping ROSE</title>
    <meta name="theme-color" content="#6d28d9" />
    <link rel="shortcut icon" href="../Images/Logo-PİZZA-ROSE.gif" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../Content/index.css" async defer>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../Script/products.js" async defer></script>
</head>

<body class="image_cursor">

    <div class="container-fluid m-0 p-0">
        <header>
            <div class="row m-0 p-0">
                <div class="col m-0 p-0">
                    <menu id="menu">
                        <nav id="navbar">
                            <div id="nav-center">
                                <span class="menu-icon cart-shop-btn">
                                    <i class="bi bi-cart2"></i>
                                    <span id="cart-shop">0</span>
                                </span>
                                <h1 id="nav-title">Shopping ROSE</h1>
                                <span id="cart-btn">
                                    <span class="menu-icon">
                                        <i class="bi bi-list"></i>
                                    </span>
                                </span>
                            </div>
                        </nav>
                        <div class="sub-menu">
                            <ul class="ul-menu">
                                <li class="li-menu">
                                    <a href="../index.html"> خانه &nbsp;<i class="bi bi-house"></i> </a>
                                </li>
                                <li class="li-menu">
                                    <a href="../Views/products.html" id="page-products-link-sub-menu"> محصولات &nbsp;<i
                                            class="bi bi-card-list"></i> <span id="page-products-sub-menu-icon"><i
                                                class="bi bi-dot"></i></span> </a>
                                </li>
                                <li class="li-menu">
                                    <a href="../Views/Contact.html"> تماس با ما &nbsp;<i class="bi bi-telephone"></i>
                                    </a>
                                </li>
                                <li class="li-menu">
                                    <a href="../Views/about-we.html"> درباره ما <i class="bi bi-exclamation-lg"></i>
                                    </a>
                                </li>
                            </ul>
                            </nav>
                            <div id="slider"></div>
                        </div>
                    </menu>
                </div>
            </div>
        </header>
        <main id="main">
            <div class="row m-0 p-0">
                <div class="col m-0 p-0">
                    <!-- btn-top -->
                    <a href="#main" class="btn-top">
                        <span id="top-btn">
                            <span id="line-right"></span>
                            <span id="line-left"></span>
                        </span>
                    </a>
                    <!-- Start cart buy -->
                    <section class="patern-cart-buy">
                        <div class="cart-buy-center">
                            <div class="cart-buy-box">
                                <p class="cart-buy-header"> سبد خرید </p>
                            </div>
                            <div class="cart-buy-box">
                                <p class="cart-buy-text"> <bdi> این قسمت به زودی فعال خواهد شد! </bdi> </p>
                            </div>
                            <div class="cart-buy-box">
                                <button type="button" class="cart-buy-back-btn">
                                    <span class="cart-buy-back-btn-back-icon"> <i class="bi bi-arrow-left-short"></i>
                                    </span>
                                    <p class="cart-buy-back-btn-text"> بازگشت </p>
                                </button>
                            </div>
                        </div>
                    </section>
                    <!-- end cart buy -->
                    <!-- Start cart-information -->
                    <section class="patern-cart-information patern-cart-information-1">
                        <div class="cart-information cart-information-1">
                            <div class="patern-cart-information-img">
                                <img src="../Images/img-pizza-1.jpeg" alt="" class="cart-information-img">
                            </div>
                            <div class="cart-information-about">
                                <p class="cart-information-header"> پیتزا سیر و استیک </p>
                                <p class="cart-information-text"> <bdi> خمیر پیتزا کلاسیک ایرانی، گوشت راسته گوساله تکه
                                        ای، پنیر پیتزا، روغن زیتون، سیر تازه، سس ویانا </bdi> </p>
                                <p class="cart-information-price"> قیمت : ۲۳۵,۰۰۰ تومان </p>
                                <div class="cart-information-btn-group">
                                    <button type="button" class="cart-information-back"> بازگشت </button>
                                    <button type="button" class="cart-information-buy"> خرید </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="patern-cart-information patern-cart-information-2">
                        <div class="cart-information cart-information-1">
                            <div class="patern-cart-information-img">
                                <img src="../Images/img-pizza-2.jpeg" alt="" class="cart-information-img">
                            </div>
                            <div class="cart-information-about">
                                <p class="cart-information-header"> پیتزا رست بیف </p>
                                <p class="cart-information-text"> <bdi> خمیر پیتزا کلاسیک ایرانی ۲۴ سانتی متری، سس گوجه
                                        فرنگی، گوشت گوساله رست شده، قارچ، فلفل دلمه ای، زیتون، پنیر پیتزا </bdi> </p>
                                <p class="cart-information-price"> قیمت : ۲۳۰,۰۰۰ تومان </p>
                                <div class="cart-information-btn-group">
                                    <button type="button" class="cart-information-back"> بازگشت </button>
                                    <button type="button" class="cart-information-buy"> خرید </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="patern-cart-information patern-cart-information-3">
                        <div class="cart-information cart-information-1">
                            <div class="patern-cart-information-img">
                                <img src="../Images/img-pizza-3.jpeg" alt="" class="cart-information-img">
                            </div>
                            <div class="cart-information-about">
                                <p class="cart-information-header"> پیتزا کالزونه </p>
                                <p class="cart-information-text"> <bdi> سس گوجه فرنگی، سس مخصوص، ژامبون گوشت و مرغ ۷۰%،
                                        قارچ، پنیر گودا، پنیر پیتزا </bdi> </p>
                                <p class="cart-information-price"> <span class="cart-information-discount">۳۵٪</span>
                                    قیمت : ۱۶۰,۰۰۰ تومان </p>
                                <div class="cart-information-btn-group">
                                    <button type="button" class="cart-information-back"> بازگشت </button>
                                    <button type="button" class="cart-information-buy"> خرید </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="patern-cart-information patern-cart-information-4">
                        <div class="cart-information cart-information-1">
                            <div class="patern-cart-information-img">
                                <img src="../Images/img-pizza-4.jpeg" alt="" class="cart-information-img">
                            </div>
                            <div class="cart-information-about">
                                <p class="cart-information-header"> پیتزا قارچ و گوشت </p>
                                <p class="cart-information-text"> <bdi> خمیر پیتزا کلاسیک ایرانی، سس گوجه فرنگی، مخلوط
                                        گوشت گوساله و گوسفندی چرخ شده، پنیر پیتزا، قارچ، فلفل دلمه ای </bdi> </p>
                                <p class="cart-information-price"> <span class="cart-information-discount">۲۰٪</span>
                                    قیمت : ۱۸۸,۰۰۰ تومان </p>
                                <div class="cart-information-btn-group">
                                    <button type="button" class="cart-information-back"> بازگشت </button>
                                    <button type="button" class="cart-information-buy"> خرید </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="patern-cart-information patern-cart-information-5">
                        <div class="cart-information cart-information-1">
                            <div class="patern-cart-information-img">
                                <img src="../Images/img-pizza-5.jpeg" alt="" class="cart-information-img">
                            </div>
                            <div class="cart-information-about">
                                <p class="cart-information-header"> پیتزا میکس </p>
                                <p class="cart-information-text"> <bdi> خمیر پیتزا کلاسیک ایرانی، سس گوجه فرنگی، مخلوط
                                        گوشت گوساله و گوسفندی چرخ شده، ژامبون گوشت و مرغ ۷۰%، سوسیس دودی، پنیر پیتزا،
                                        قارچ، فلفل دلمه ای، گوجه </bdi> </p>
                                <p class="cart-information-price"> <span class="cart-information-discount">۱۰٪</span>
                                    قیمت : ۲۰۷,۰۰۰ تومان </p>
                                <div class="cart-information-btn-group">
                                    <button type="button" class="cart-information-back"> بازگشت </button>
                                    <button type="button" class="cart-information-buy"> خرید </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end cart-information -->
                    <br><br>
                    <!-- Start products -->
                    <h2 id="products-title">محصولات</h2>
                    <section id="products">
                        <div class="products-center">
                            <section class="product" id="product-1">
                                <section class="product-parent-img">
                                    <img class="product-img" src="../Images/img-pizza-1.jpeg" alt="picture 01">
                                </section>
                                <section class="product-body">
                                    <h3 class="Product-header">پیتزا سیر و استیک</h3>
                                    <p class="product-about"> قیمت : ۲۳۵,۰۰۰ تومان </p>
                                    <button type="button" class="btn-buy">خرید</button>
                                </section>
                            </section>
                            <section class="product" id="product-2">
                                <section class="product-parent-img">
                                    <img class="product-img" src="../Images/img-pizza-2.jpeg" alt="picture 01">
                                </section>
                                <section class="product-body">
                                    <h3 class="Product-header">پیتزا رست بیف</h3>
                                    <p class="product-about"></span> قیمت : ۲۳۰,۰۰۰ تومان</p>
                                    <button type="button" class="btn-buy">خرید</button>
                                </section>
                            </section>
                            <section class="product" id="product-3">
                                <section class="product-parent-img">
                                    <img class="product-img" src="../Images/img-pizza-3.jpeg" alt="picture 01">
                                </section>
                                <section class="product-body">
                                    <h3 class="Product-header">پیتزا کالزونه </h3>
                                    <p class="product-about"> <span class="product-discount"><bdi>۳۵٪</bdi></span> قیمت
                                        : ۱۶۰,۰۰۰ تومان</p>
                                    <button type="button" class="btn-buy">خرید</button>
                                </section>
                            </section>
                            <section class="product" id="product-4">
                                <section class="product-parent-img">
                                    <img class="product-img" src="../Images/img-pizza-4.jpeg" alt="picture 01">
                                </section>
                                <section class="product-body">
                                    <h3 class="Product-header">پیتزا قارچ و گوشت</h3>
                                    <p class="product-about"> <span class="product-discount"><bdi>۲۰٪</bdi></span> قیمت
                                        : ۱۸۸,۰۰۰ تومان</p>
                                    <button type="button" class="btn-buy">خرید</button>
                                </section>
                            </section>
                            <section class="product" id="product-5">
                                <section class="product-parent-img">
                                    <img class="product-img" src="../Images/img-pizza-5.jpeg" alt="picture 01">
                                </section>
                                <section class="product-body">
                                    <h3 class="Product-header">پیتزا میکس</h3>
                                    <p class="product-about"> <span class="product-discount"><bdi>۱۰٪</bdi></span> قیمت
                                        : ۲۰۷.۰۰۰ تومان</p>
                                    <button type="button" class="btn-buy">خرید</button>
                                </section>
                            </section>
                        </div>
                    </section>
                    <!-- end products -->
                    <br><br><br>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-patern">
                <div class="row m-0 p-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 m-0 p-0">
                        <p class="Social-Networks-box-title"><bdi>ما را در شبکه های اجتماعی دنبال کنید</bdi></p>
                        <hr style="width: 65%; padding-bottom: 2rem; margin: auto;">
                        <div class="Social-Networks-box-parent">
                            <div class="Social-Networks-box">
                                <a href="#" id="box-bi-telegram">
                                    <i class="bi bi-telegram"></i>
                                </a>
                            </div>
                            <div class="Social-Networks-box">
                                <a href="#" id="box-bi-instagram">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </div>
                            <div class="Social-Networks-box">
                                <a href="#" id="box-bi-whatsapp">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            </div>
                            <div class="Social-Networks-box">
                                <a href="mailto:sadra.r.official7@gmail.com" id="box-bi-envelope">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 m-0 p-0">
                        <div class="address-parent">
                            <p class="address-text"> آدرس پیتزایی </p>
                            <address class="address">تهران, منطقه ۱۸</address>
                            <address class="address">تهران, منطقه ۲۰</address>
                            <address class="address">تهران, منطقه ۲</address>
                            <address class="address">تهران, منطقه ۳</address>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 m-0 p-0">
                        <div class="tel-parent">
                            <p class="tell-text"> شماره تماس </p>
                            <a class="tel" href="tel:09123456789">09123456789</a>
                            <a class="tel" href="tel:09123456788">09123456788</a>
                            <a class="tel" href="tel:09123456787">09123456787</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 m-0 p-0">
                        <p class="footer-brand">Shopping ROSE</p>
                        <div class="about-parent">
                            <bdi>سفارشات انواع پیتزا ها سریع, باکیفیت</bdi>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">
                    <div class="col p-0 m-0">
                        <hr>
                        <p class="text-footer">
                            Shopping ROSE
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>